<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.contentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5Jt2e9ocVmXovnsOsdmtdhPRkP8m9IhQ" />

        <activity
            android:name=".presentation.auth.splash.SplashFirstActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.auth.splash.SplashSecondActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".presentation.auth.scan_driver_license.ScanDriverLicenseActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".presentation.auth.scan_driver_license.LicenseVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".presentation.auth.signup.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.FacialSafetyFeatureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.GPSVehicleTrackingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.ComplianceWithLawsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.DataTransferToRecordKeeperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.TermsCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.phone_verify_success.PhoneVerifySuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.authentication_method.ChooseAuthenticationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.verify_otp.VerifyOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.auth.verify_email.VerifyEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".presentation.auth.terms.TermsAndConditionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.authentication_method.AuthenticationActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".presentation.auth.authentication_method.finger.FingerPrintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.authentication_method.facial.FacialActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".presentation.auth.authentication_method.voice.VoiceActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".presentation.auth.create_Profile.CreateProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".presentation.auth.personal_details.PersonalDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".presentation.auth.emergency_details.EmergencyActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".presentation.auth.medicare_details.MedicareProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.driver_safety.DriverSafetyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.license.LicenseDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".presentation.auth.udi_generate.UDIGenerateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.profile_complete.ProfileCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".presentation.home_dashboard.driver_profile.medicare.MedicareDetailsFragment"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.home_dashboard.driver_profile.additional_identification.AdditionalIdentificationFragment"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".presentation.home_dashboard.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity
            android:name=".presentation.auth.verify_otp.OtpSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.authentication_method.AuthenticationCompleteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.additional_identification.AdditionalIdentificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".presentation.auth.terms.EnableLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presentation.auth.terms.FrieghtCyberServicesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>